.char-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.char {
    /* background-image: url("../images/starwars.png"); */
    background-color: yellow;
    background-size: contain;
    border-radius: 5px;
    color: black;
    margin: 1%;
    padding: 1%;
    width: 29%;
    text-align: left; 
}
h2 {
    color: blue;
}
li {
    list-style: square inside url("../images/icon.png");
    color: black;
    font-size: 15px;
}
.physical {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
